<!-- ATENÇÃO: incluir a <li> dentro da <ul> do arquivo original

<div>
    <nav class="navbar navbar-inverse" role="navigation">
        <ul class="nav navbar-nav navbar-left navbar-%tab-primaria%">

    /************************demais itens de menu**********************************/
        
        -->
<!--FRAGMENTO--><!--BEGIN(perfilIndexHtmlModulo)-->
            <li id="navbar-%tab-primaria%-@tab-secundaria@">
                <a ui-sref=".@nmTabela@" ui-sref-active="active">@ItemMenuAcentuado@</a>
            </li>
<!--FRAGMENTO--><!--END(perfilIndexHtmlModulo)-->
            <!-- 
    /************************demais itens de menu**********************************/

        </ul>
    </nav>
    <div ui-view=""></div>
</div>
 -->
