<!-- ATENÇÃO: este arquivo só deve ser usado caso esteja sendo criado apenas o perfil dentro do menu principal pré-existente, caso contrário, utilizar o arquivo completo que foi gerado na pasta @nmAplicacao@\modules\index\views\index.html  

incluir a <li> dentro da <ul> do arquivo original

<div aria-live="assertive" id="announcer" class="screen-reader-only"></div>
<div class="container-fluid" ng-app="@NmAplicacao@" ng-controller="MainController" style="height: 100%; padding: 0px">
    <div class="container-fluid">
        
        <ul class="nav nav-tabs nav-tabs-main">
        
    /************************demais itens de menu**********************************/
        -->
<!--FRAGMENTO--><!--BEGIN(indexHtmlItemPerfil)-->
        	#liItemMenu#
<!--FRAGMENTO--><!--END(indexHtmlItemPerfil)-->
            <!-- 
            
    /************************demais itens de menu**********************************/
            
        </ul>
    </div>
    <div class="container-fluid" ui-view="">
    </div>
</div>
 -->